
/* NAVBAR */

.navbar {
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 1000;
}

.nav-container {
  max-width: 1150px;
  margin: auto;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: relative;
}

.nav-logo,
.nav-logo a {
  display: flex;
  align-items: center;
}

.nav-logo img {
  max-height: 100px;
  width: auto;
  object-fit: contain;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.95rem;
  color: #000;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #611232;
}

.menu-toggle {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
  z-index: 1100;
}

.menu-toggle .bar {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 3px;
  transition: all 0.4s ease;
}

.menu-toggle .bar:nth-child(1) {
  top: 0;
}

.menu-toggle .bar:nth-child(2) {
  top: 9px;
}

.menu-toggle .bar:nth-child(3) {
  bottom: 0;
}

.menu-toggle.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%) translateY(-120%);
    
    width: 95%;
    max-width: 1200px;
    height: 50vh;

    background: rgba(255, 255, 255, 0.95);
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    transition: transform 0.4s ease;

    box-shadow: 0 25px 60px rgba(0,0,0,0.2);
    z-index: 900;
  }

  .nav-links.active {
    transform: translateX(-50%) translateY(0);
  }

  .nav-links a {
    font-size: 1.2rem;
  }
}