<app-navbar></app-navbar>

<!-- SERVICIOS -->
<section class="services-section">

    <article class="service-item">
        <video autoplay muted loop playsinline>
            <source src="/assets/coordi.mp4" type="video/mp4">
        </video>

        <div class="service-content">
            <h2>Coordinación de Capacitación</h2>
            <p>
                Impulsamos el desarrollo del talento mediante programas de formación,
                talleres especializados y experiencias de aprendizaje innovadoras.
            </p>
            <a href="/capacitaciones" class="btn-service">Ver más</a>
        </div>
    </article>

    <article class="service-item">
        <video autoplay muted loop playsinline>
            <source src="/assets/insta.mp4" type="video/mp4">
        </video>

        <div class="service-content">
            <h2>Coordinación de Instalaciones</h2>
            <p>
                Gestionamos los espacios del CIT asegurando su disponibilidad para
                actividades académicas, empresariales y tecnológicas.
            </p>
            <a href="/instalaciones" class="btn-service">Ver más</a>
        </div>
    </article>

    <article class="service-item">
        <video autoplay muted loop playsinline>
            <source src="/assets/proyectos.mp4" type="video/mp4">
        </video>

        <div class="service-content">
            <h2>Coordinación de Proyectos</h2>
            <p>
                Supervisamos y gestionamos iniciativas estratégicas asegurando
                planeación, ejecución y cumplimiento de objetivos.
            </p>
            <a href="/proyectos" class="btn-service">Ver más</a>
        </div>
    </article>

    <article class="service-item">
        <video autoplay muted loop playsinline>
            <source src="/assets/web.mp4" type="video/mp4">
        </video>

        <div class="service-content">
            <h2>Coordinación de Tecnologías Web</h2>
            <p>
                Desarrollamos soluciones digitales innovadoras que impulsan la
                transformación tecnológica.
            </p>
            <a href="/tecnologias" class="btn-service">Ver más</a>
        </div>
    </article>

    <article class="service-item">
        <video autoplay muted loop playsinline>
            <source src="/assets/3d.mp4" type="video/mp4">
        </video>

        <div class="service-content">
            <h2>Manufactura Aditiva</h2>
            <p>
                Tecnología de impresión 3D aplicada a prototipado y producción
                avanzada.
            </p>
            <a href="/manufactura-aditiva" class="btn-service">Ver más</a>
        </div>
    </article>

</section>


<app-footer></app-footer>