<!-- TÍTULO -->
<section class="hero-title">
    <div class="hero-content">
        <h1 class="hero-bg">PROYECTOS</h1>

        <div class="hero-front">
            <span class="hero-subtitle">Coordinación</span>
            <div class="hero-line"></div>
        </div>
    </div>
</section>


<!-- SECCIÓN IMAGEN -->
<section class="media-banner">

    <img src="/assets/CIT-Dia.jpeg" alt="Banner visual" class="media-bg">

    <div class="media-overlay">
        <p>Acompañamos a nuestros aliados en todas las etapas de un proyecto: <br>
            desde la conceptualización y planeación, hasta el desarrollo, ejecución y entrega de
            soluciones tangibles que generan un alto impacto en la industria y la sociedad.</p>
    </div>

</section>


<!-- SECCIÓN NUESTROS SERVICIOS -->
<section class="info-section">

    <div class="info-titulo">
        <h2>Próximos Eventos</h2>
    </div>

    <div class="info-container">

        <div class="column left">

            <div class="text-box fade-up">
                <h3>Planeación y gestión de proyectos</h3>
                <p>
                    Diseño de cronogramas, objetivos y entregables para garantizar resultados.
                </p>
            </div>

            <div class="image-box fade-left">
                <img src="/assets/CIT-Noche.jpeg" alt="Imagen descriptiva">
            </div>

        </div>

        <div class="column right">

            <div class="text-box fade-up">
                <h3>Vinculación UPIDET - CIT</h3>
                <p>Gestión de servicios especializados en laboratorios, asesorías técnicas y transferencia
                    tecnológica.
                </p>
            </div>

            <div class="text-box fade-up">
                <h3>Seguimiento y evaluación</h3>
                <p>Monitoreo de avances, control de tiempos y recursos, así como reportes periódicos para la
                    toma de decisiones.</p>
            </div>

            <div class="text-box fade-up">
                <h3>Asesoría Integral</h3>
                <p>Adaptación de las metodologías a las necesidades de cada proyecto. Acompañamiento en procesos de
                    innovación, desarrollo de productos, mejora de operaciones y estrategias de crecimiento.</p>
            </div>

            <div class="text-box fade-up">
                <h3>Conexión Industria - Academia</h3>
                <p>Impulso a la colaboración entre empresas, investigadores, docentes y estudiantes.</p>
            </div>

        </div>

    </div>
</section>


<!-- SECCIÓN COLABORACIONES -->
<section class="allies-section">
    <div class="allies-container">

        <div class="allies-header">
            <h2>Colaboramos con</h2>
        </div>

        <div class="allies-grid">

            <div class="ally-card">
                <img src="/assets/CIMAD.png" alt="Empresa 1">
                <h3>CIMAD</h3>
                <p>Clúster de Innovación del Mueble</p>
            </div>

            <div class="ally-card">
                <img src="/assets/AFAMDGO.png" alt="Empresa 2">
                <h3>AFAMDGO</h3>
                <p>Asociación de Fabricantes Muebleros</p>
            </div>

            <div class="ally-card">
                <img src="/assets/Mezcal.png" alt="Empresa 3">
                <h3>Cluster Mezcales</h3>
                <p>de Durango</p>
            </div>

            <div class="ally-card">
                <img src="/assets/MADRA.png" alt="Empresa 4">
                <h3>MADRA</h3>
                <p>Empresa Asociada</p>
            </div>

            <div class="ally-card">
                <img src="/assets/qubica.png" alt="Empresa 5">
                <h3>QUBICA</h3>
                <p>Cocinas</p>
            </div>

            <div class="ally-card">
                <img src="/assets/BYCSA.png" alt="Empresa 6">
                <h3>ByCSA</h3>
                <p>Empresa Asociada</p>
            </div>

            <div class="ally-card">
                <img src="/assets/Santino.png" alt="Empresa 7">
                <h3>Santino</h3>
                <p>Cocinas e Interiores</p>
            </div>

            <div class="ally-card">
                <img src="/assets/Condor.png" alt="Empresa 8">
                <h3>Cóndor</h3>
                <p>Fábrica de Muebles</p>
            </div>

        </div>
    </div>
</section>


<!-- CARRUSEL DE IMAGENES -->
<section class="carousel">

    <div class="carousel-header">
        <h2>Proyectos Destacados</h2>
    </div>
    <div class="carousel-track-container">
        <div class="carousel-track">
            <img src="/assets/cimadC.png" class="carousel-slide active" alt="Imagen 1">
            <img src="/assets/mezcalC.png" class="carousel-slide" alt="Imagen 2">
            <img src="/assets/mueblerasC.png" class="carousel-slide" alt="Imagen 3">
        </div>
    </div>

    <div class="carousel-controls">
        <button class="arrow left disabled">‹</button>
        <button class="arrow right">›</button>
    </div>
</section>


<app-footer></app-footer>