
<!-- SECCIÓN MAPA -->
  <section class="map-section">

    <div class="map-container">

      <div class="map-info">
        <h2>Ubicación</h2>
        <p class="map-place">Centro de Innovación Tecnológica</p>
        <p class="map-address">
          Blvd. Felipe Pescador 1830, Nueva Vizcaya,<br>
          34080 Durango, Dgo.<br>
          Instituto Tecnológico de Durango,<br>
          Zona Norte
        </p>

        <a href="https://maps.google.com/?q=Centro+de+Innovación+Tecnológica+CIT" target="_blank" class="map-btn">
          Cómo llegar
        </a>
      </div>

      <div class="map-shape">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3643.8627631433988!2d-104.65074282446287!3d24.03590417775542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869bb79ec1c41e6d%3A0x1e956f3f914354d0!2sCentro%20de%20Innovaci%C3%B3n%20Tecnol%C3%B3gica%20CIT!5e0!3m2!1ses!2smx!4v1768332157995!5m2!1ses!2smx"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>

  </section>