<app-navbar></app-navbar>


<!-- DIRECTORIO -->
<section class="directory-section">

    <h1 class="directory-title scroll-animate">Directorio</h1>

    <div class="directory-row scroll-animate">
        <div class="directory-info">
            <h2>Coordinación General del Centro de Innovación Tecnológica</h2>
            <p>M.A. Maricela Guerra Franco</p>
            <p class="email">
                <a href="mailto:cit.coordinacion@itdurango.edu.mx">
                    cit.coordinacion&#64;itdurango.edu.mx
                </a>
            </p>
        </div>

        <div class="directory-image">
            <img src="/assets/CIT-Dia.jpeg" alt="Coordinación de Innovación">
        </div>
    </div>

    <div class="directory-row reverse scroll-animate">
        <div class="directory-info">
            <h2>Coordinación Administrativa</h2>
            <p>L.A. Sergio Osvaldo Covarrubias Ramírez</p>
            <p class="email">
                <a href="mailto:cit.administrativa@itdurango.edu.mx">
                    cit.administrativa&#64;itdurango.edu.mx
                </a>
            </p>
        </div>

        <div class="directory-image">
            <img src="/assets/CIT-Noche.jpeg" alt="Coordinación Académica">
        </div>
    </div>

    <div class="directory-banner">
        <img src="/assets/CIT-Dia.jpeg" alt="Instalaciones CIT">
    </div>

    <div class="directory-row scroll-animate">
        <div class="directory-info">
            <h2>Coordinación de Instalaciones</h2>
            <p>Ing. Mario Fernando Rosales Reyes</p>
            <p class="email">
                <a href="mailto:cit.instalaciones@itdurango.edu.mx">
                    cit.instalaciones&#64;itdurango.edu.mx
                </a>
            </p>
        </div>

        <div class="directory-image">
            <img src="/assets/CIT-Noche.jpeg" alt="Coordinación de Vinculación">
        </div>
    </div>

    <div class="directory-row reverse scroll-animate">
        <div class="directory-info">
            <h2>Coordinación de Capacitación</h2>
            <p>Ing. María José Lara Bernal</p>
            <p class="email">
                <a href="mailto:cit.capacitacion@itdurango.edu.mx">
                    cit.capacitacion&#64;itdurango.edu.mx
                </a>
            </p>
        </div>

        <div class="directory-image">
            <img src="/assets/CIT-Dia.jpeg" alt="Coordinación Académica">
        </div>
    </div>

    <div class="directory-banner">
        <img src="/assets/CIT-Noche.jpeg" alt="Instalaciones CIT">
    </div>

    <div class="directory-row scroll-animate">
        <div class="directory-info">
            <h2>Coordinación de Proyectos</h2>
            <p>Ing. Diana Citlaly Pantoja López</p>
            <p class="email">
                <a href="mailto:cit.proyectos@itdurango.edu.mx">
                    cit.proyectos&#64;itdurango.edu.mx
                </a>
            </p>
        </div>

        <div class="directory-image">
            <img src="/assets/CIT-Dia.jpeg" alt="Coordinación de Innovación">
        </div>
    </div>

    <div class="directory-row reverse scroll-animate">
        <div class="directory-info">
            <h2>Coordinación de Manufactura Aditiva</h2>
            <p>Ing. Isidro Vázquez Rubio</p>
            <p class="email">
                <a href="mailto:cit.auxiliarproyectos@itdurango.edu.mx">
                    cit.auxiliarproyectos&#64;itdurango.edu.mx
                </a>
            </p>
        </div>

        <div class="directory-image">
            <img src="/assets/CIT-Noche.jpeg" alt="Coordinación Académica">
        </div>
    </div>

    <div class="directory-row scroll-animate">
        <div class="directory-info">
            <h2>Coordinación de Tecnologías Web</h2>
            <p>Ing. María Guadalupe Hernández Contreras</p>
            <p class="email">
                <a href="mailto:tecnologiasweb@itdurango.edu.mx">
                    tecnologiasweb&#64;itdurango.edu.mx
                </a>
            </p>
        </div>

        <div class="directory-image">
            <img src="/assets/CIT-Dia.jpeg" alt="Coordinación de Innovación">
        </div>
    </div>

</section>


<app-mapa></app-mapa>
<app-footer></app-footer>